
{% extends "basicapp/base.html" %}
{% load static %}
{% block body_block %}
    <div class="jumbotron">

        {% if registered %}
            <p>You have successfully registered! You can now <a href="{% url 'basicapp:login' %}">log in</a>.</p>
        {% else %}
        <h1> Register Here</h1>
        <h3> Please fill out the form below to register for an account.</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
{% endif %}
    </div>
{% endblock %}
